{% extends "base.html" %}

{% block content %}
  <h1 class="page-title">{{ title }}</h1>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          {% if table %}{{ table|safe }}{% endif %}
          {% if image %}<img src="{{ url_for('static', filename=image) }}" class="img-fluid mt-3" alt="chart">{% endif %}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          {% if table2 %}{{ table2|safe }}{% endif %}
          {% if image2 %}<img src="{{ url_for('static', filename=image2) }}" class="img-fluid mt-3" alt="chart2">{% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
